@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  margin: 0;
  font-family: "PT Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Globals */
html,
body,
#root {
  min-height: 100%;
  height: 100%;
}
*:focus {
  outline: none !important;
}
button.btn-sm {
  padding: 0.25rem 1.25rem;
  font-weight: bold;
}
header {
  position: relative;
  z-index: 1;
}
.container-fluid {
  height: 100%;
  padding-top: 131px;
  top: 0;
  position: absolute;
}
.container-fluid > .row {
  height: 100%;
}
/* Colors */
.bg-blue {
  background-color: #4a90e9;
}
.bg-blue-grey {
  background-color: #f9fbff;
}
.tx-blue {
  color: #4a90e9;
}

.no-wrap {
  white-space: nowrap;
}
/* margins */
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.navbar-brand {
  font-size: 1rem;
}
.create-new-bar {
  padding: 1.5rem 1rem;
  border-bottom: 2px solid #f5f5f5;
}

.campaign-history-section {
  background-color: #f9fbff;
}

.list-group {
  margin: 0 -15px;
}
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
